@font-face {
  font-family: "NeueHaasUnica";
  src: url("/font/NeueHaasUnica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasUnica";
  src: url("/font/NeueHaasUnica-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasUnica";
  src: url("/font/NeueHaasUnica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasUnica";
  src: url("/font/NeueHaasUnica-Black.ttf") format("truetype");
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasUnica";
  src: url("/font/NeueHaasUnica-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "August";
  src: url("/font/August-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-[#141414] font-NeueHaasUnica;
  }
  h1 {
    @apply text-[30px] leading-[34px] md:text-[48px] md:leading-[52px] 2xl:text-[120px] 2xl:leading-[120px] tracking-tighter font-bold;
  }
  h2 {
    @apply text-[24px] md:text-[30px] 2xl:text-[64px] font-medium 2xl:leading-[70px];
  }
  h3 {
    @apply text-[16px] md:text-[24px] 2xl:text-[48px] font-medium;
  }
  h4 {
    @apply 2xl:text-[32px] font-medium;
  }
  p {
    @apply 2xl:font-light text-[14px] md:text-[16px] font-light;
  }
}
